* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
}

input {
  width: 100%; /* temp, by jaeseong */
}

.error {
  color: red;
  font-weight: bold;
}
