@import './font';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  @include default_font;
  font-weight: 400;
}

input {
  width: 100%; /* temp, by jaeseong */
}

.error {
  color: red;
  font-weight: bold;
}
