// white
$white: #ffffff;
// green
$green-clear: rgba(13, 54, 57, 0.38);
$green-light: #47efb2;
$green-aqua: #19e298;
$green-dark: #555555;

._white {
  color: $white;
}
._green-clear {
  color: $green-clear;
}
._green-light {
  color: $green-light;
}
._green-aqua {
  color: $green-aqua;
}
._green-dark {
  color: $green-dark;
}
