@import './mixin';

// grayscale
$white: #ffffff;
$black: #000000;
$black-clear: rgba(0, 0, 0, 0.58);
// green
$green-clear: rgba(13, 54, 57, 0.38);
$green-light: #47efb2;
$green-aqua: #19e298;
$green-dark: #0d3639;
// blue
$blue-dark: #29353e;
// gray
$gray-light: #72848b;
$gray-dark: #555555;

._white {
  color: $white;
}
// green
._green-clear {
  color: $green-clear;
}
._green-light {
  color: $green-light;
}
._green-aqua {
  color: $green-aqua;
}
._green-dark {
  color: $green-dark;
}
// gray
._gray-dark {
  color: $gray-dark;
}

@mixin _green-dark-gradient {
  @include background-gradient(right, rgba(255, 255, 255, 0.5), rgba(208, 208, 208, 0.5) 43%, rgba(0, 0, 0, 0.7));
}
