@import './mixin';
@import './color';
@import './size';

._fullscreen {
  position: relative;
  @include size(100%, 100vh);
}

._full-width {
  width: 100%;
}

._full-container {
  @include size(100%);
}

._content-container {
  position: relative;
  width: 100%;
  min-height: $tabel-height;
  padding: 2rem 4rem;

  ._title-container {
    height: 3rem;
    margin: 0 4rem 0 0;
    border-bottom: solid 4px $green-light;
    white-space: nowrap;
  }
}

._full-absolute {
  position: absolute;
  @include position(0);
}

._navbar {
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: $navbar-height;
  padding: 0 4rem;

  ._selecotr-container {
    margin: 0 4rem 0 0;
    height: 3rem;
  }

  ._selector {
    position: relative;
    width: 8rem;
    margin: 0 1rem;
  }

  ._selector-border {
    border-bottom: solid 4px $green-light;
  }

  ._logout-button {
    @include size(6rem, 2.5rem);
    @include border-radius(0.5rem);
    margin: 0 0 0 2rem;
    background: $green-light;
    color: $white;
  }
}

._background {
  width: 100%;
  min-height: 100vh;
  @include background-gradient(left, #177f48, #1b4f34, #091913);
}
