@import './mixin';
@import './font';
@import './size';

// flex
._flex {
  @include display-flex;
}

._flex_1 {
  @include display-flex;
  @include flex-grow(1);
}

// direction
._row-direction {
  @include display-flex;
  @include flex-direction(row);
}

._column-direction {
  @include display-flex;
  @include flex-direction(column);
}

// position
._hcenter-position {
  @include justify-content(center);
}

._hright-position {
  @include justify-content(flex-end);
}

._vcenter-position {
  @include align-items(center);
}

._vbottom-position {
  @include align-items(flex-end);
}

// text
._text-center {
  text-align: center;
}

._whitespace-nowrap {
  white-space: nowrap;
}

// logo
._logo {
  @include size(auto, $logo-height);
}

// pointer
._cursor-pointer {
  @include cursor-pointer;
}

// blur
.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

._blur-svg {
  display: none;
}
